<div class="modal confirmation-modal">
    <div class="modal-content">
        <div class="modal-title" style="font-size: 18px; width: 100%;">
            <img [ngClass]="selected_track?.preview_audio ? 'song-preview' : ''" id="cover_art"
                (click)="playPreviewAudio(selected_track?.preview_audio)" src="{{selected_track?.cover_art}}" width="35%"
                height="35%" />

            <br>

            <b style="font-size: 22px; margin-top: 3px;">{{selected_track?.song_name}}</b>

            <br>

            <b>{{selected_track?.artist}}</b>
        </div>
    </div>

    <div
        style="position: absolute; bottom: 0;margin: 0 auto;width: 100%;display: flex; justify-content: center; padding-bottom: 30px;">
        <button (click)="confirmTrack()" style="font-size: 20px; margin-right: 10px;">Choose Song</button>
        <button (click)="cancel()" style="font-size: 20px;">Cancel</button>
    </div>
</div>