<div id="artistComponent" class="main">
    <h1 class="header">{{artist?.artist_name}}</h1>

    <br>

    <div *ngIf="albums.length > 0" class="album-list">
        <div *ngFor="let album of albums">

            <!-- Blank div acts as a marker for each album for autoScroll -->
            <div class="album_{{album.id}}" id="album_{{album.id}}">&nbsp;</div>

            <div class="album-info">
                <img src="{{album.cover_art}}" width="200px" height="200px">
                <div>
                    <h2 style="padding-left: 20px;">{{album.album_name}}</h2>
                    <p style="padding-left: 20px;">{{album.release_date | date: longDate}}&nbsp; &#8226;
                        &nbsp;{{album.total_tracks}} songs</p>
                </div>
            </div>


            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-header">#</th>
                        <th class="col-header">Name</th>
                        <th class="col-header">Artist</th>
                        <th class="col-header">&nbsp;&nbsp;&#9202;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 40px;" *ngFor="let track of album.tracks" (click)="trackClicked(track)" class="tracks">
                        <td style="width: 2%" class="track-number">{{track.track_number}}</td>
                        <td style="width: 45%">
                            {{track.track_name}}</td>
                        <td style="width: 45%">
                            {{track.artist}}</td>
                        <td style="width: 5%">{{track.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- TRACK CONFIRMATION MODAL -->
<div [hidden]="!confirmation_modal_open">
    <app-track-confirmation></app-track-confirmation>
</div>