<div id="searchComponent" style="height: 95vh; width: 100vw;">
    <h1 class="center">THE BUCKET SETLIST</h1>

    <p class="center">If you could only contribute a single song, which would you choose?</p>

    <br>

    <div class="center" style="margin-bottom: 20px;">
        <form #seach="ngForm" (ngSubmit)="searchButtonClicked()">
            <select class="searchDropdown" name="searchDropdown" id="searchDropdown" [(ngModel)]="filter_val">
                <option value="track" selected>Song</option>
                <option value="artist">Artist</option>
                <option value="album">Album</option>
            </select>
            <input class="searchBar" placeholder="Enter a song/artist/album/etc." name="searchBar"
                [(ngModel)]="search_val">
            <input type="Submit" value="Find" style="padding: 5px 20px 5px 20px; margin-left: 10px;">
        </form>

        <!-- <button (click)="searchButtonClicked()">Find</button> -->
    </div>

    <div ngSwitch="{{filter_val}}" class="all-search-content">
        <!-- Song Table -->
        <div *ngSwitchCase="'track'">
            <div *ngIf="total_songs.length > 0">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Name</th>
                            <th>Artist</th>
                            <th>Album</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let song of total_songs" (click)="songClicked(song)">
                            <td style="min-width:75px;"><img style="border-radius: 7px;" src="{{song.cover_art}}"
                                    width="60px" height="60px"></td>
                            <td style="min-width: 350px; max-width: 350px">
                                {{song.song_name}}</td>
                            <td style="min-width: 300px; max-width: 300px;">
                                {{song.artist}}</td>
                            <td style="min-width: 300px; max-width: 300px;">
                                {{song.album}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngSwitchCase="'artist'" class="image-grid center-div">
            <ng-container *ngFor="let artist of total_artists">
                <div class="artist-profile" (click)="artistClicked(artist)">
                    <img style="border-radius: 100px; display: table;
                    margin: 0 auto;" width="120px" height="120px" src="{{artist.profile_image}}">
                    <span style="display: table; margin: 0 auto; margin-top:5px; 
                    font-family: Arial, Helvetica, sans-serif">{{artist.artist_name}}</span>
                </div>

            </ng-container>
        </div>
        <div *ngSwitchCase="'album'">
            <p>ALBUMS</p>
        </div>
        <div *ngSwitchDefault>
            DEFAULT
        </div>
    </div>


</div>

<!-- SONG CONFIRMATION MODAL -->
<div [hidden]="!confirmation_modal_open" class="modal confirmation-modal" id="confirmation-modal">
    <div class="modal-content">
        <div class="modal-title" style="font-size: 18px; width: 100%;">
            <img style="border-radius: 10px;" [ngClass]="selected_song?.preview_audio ? 'song-preview' : ''"
                (click)="playPreviewAudio(selected_song?.preview_audio)" src="{{selected_song?.cover_art}}" width="35%"
                height="35%" />

            <br>

            <b style="font-size: 22px; margin-top: 3px;">{{selected_song?.song_name}}</b>

            <br>

            <b>{{selected_song?.artist}}</b>
        </div>
    </div>

    <div
        style="position: absolute; bottom: 0;margin: 0 auto;width: 100%;display: flex; justify-content: center; padding-bottom: 30px;">
        <button (click)="confirmSong()" style="font-size: 20px; margin-right: 10px;">Choose Song</button>
        <button (click)="cancel()" style="font-size: 20px;">Cancel</button>
    </div>
</div>