<h1 class="center">THE BUCKET SETLIST</h1>

<p class="center">If you could only contribute a single song, which would you choose?</p>

<br>

<!-- <img src="/assets/placeholder.jpeg" width="100px" height="100px"> -->

<div class="center">
  <input class="searchBar" placeholder="Enter a song/artist/album/etc.">
</div>

<div class="center-div">
  <div *ngIf="total_songs" class="grid-container">
    <div *ngFor="let song of total_songs" class="grid-item">
      <div style="background-color: pink;">
        <img style="float: left;" src="{{song.cover_art}}" width="100px" height="100px">
      </div>
      <div class="song-data">
        <div>
          {{song.song_name}}
        </div>
        <div>
          {{song.artist}}
        </div>
      </div>
    </div>
  </div>
</div>