.center {
    text-align: center;
}

.searchBar {
    width: 40%;
    height: 30px;
    font-size: 18px;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.searchDropdown {
    height: 30px;
    width: 100px;
    margin-right: 10px;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.center-div {
    justify-content: center;
    display: flex;
}

.all-search-content {
    height: 80%;
    // width: 80%;
    overflow: scroll;
    // margin: 0 auto;
    // margin-left: auto;
    // margin-right: auto;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.blur-background_in {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -o-filter: blur(20px);
    -moz-filter: blur(20px);

    pointer-events: none;

    // transition: all 0.1s ease-in;
    // -webkit-transition: all 0.1s ease-in;
    // -o-transition: all 0.1s ease-in;
    // -moz-transition: all 0.1s ease-in;
}

table,
th {
    // border: 1px solid grey;
    // border-collapse: collapse;
    // padding: 5px;

    border: none;
    border-spacing: 0;
}

.header {
    text-align: left;
    border-bottom: 0.5pt solid rgb(144, 144, 144);
    font-weight: lighter;
    color: #818181;
}

.tracks:hover {
    background-color: rgb(223, 237, 255);
    cursor: pointer;
}

.artist-profile:hover {
    opacity: 0.5;
    cursor: pointer;
}

.image-grid {
    display: grid;
    grid-gap: 10px;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    width: 80%;
}

.cover-art {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
