<div class="main">
    <div class="center">
        <div>
            <div>
                <h1 style="font-weight: lighter;">Thank you <b>{{profile.display_name}}</b></h1>
            </div>
            <div>
                <h2 style="font-weight: lighter;">You have chosen <b>{{chosen_track.track_name}}</b> by
                    <b>{{chosen_track.artist}}</b></h2>
            </div>
            <img width=200px; height=200px; src="{{chosen_track.cover_art}}">
        </div>

        <div style="margin-top: 100px">
            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/6ncsSfAwmjdEj091zxLnG1?utm_source=generator&theme=0"
                width="60%" height="500px" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>

    </div>
</div>